{
  "mongoHost" : "MONGO_HOST",
  "mongoDB": "MONGO_DB",
  "mongoUser": "MONGO_USER",
  "mongoPassword": "MONGO_PASSWORD",
  "botId": "TELEGRAM_BOT_ID",
  "filmsUpdateFreequency": "visit gopkg.in/robfig/cron.v2 for instructions"
  "Admins": "array of telegram ids used to access /broadcast command"
}

